.app, html{
    margin: 0;
    padding:0;
}
.app{
    font-family: 'Inter', sans-serif;
    color: hsl(228, 34%, 66%);
}

.app.light {
    background-color: hsl(0, 0%, 100%);
    color: hsl(228, 12%, 44%);
}

.background-box{
    position: absolute;
    background-color: hsl(230, 17%, 14%);
    left: 0;
    right: 0;
    top: 0;
}
.light .background-box {
    background-color: hsl(0, 0%, 100%);
}

.container{
    width: auto;
    max-width: 1110px;
    margin: 35px auto;
}

.header{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}
.header_title{
    font-size: 26px;
    color: hsl(0, 0%, 100%);
    margin: 0;
}
.light .header_title {
    color: hsl(230, 17%, 14%);
}
.header_subtext, .toggle_label, .overview_type{
    font-size: 14px;
    font-weight: 700;
}
.toggle_label{
    margin-right: 10px;
}

.toggle{
    display: flex;
    align-items: center;
}
.toggle_button_wrapper{
    position: relative;
    display: flex;
}
.toggle_button{
    width: 50px;
    height: 26px;
    border-radius: 50px;
    background-color: hsl(210, 78%, 56%) ;
    background: linear-gradient(90deg, hsl(210, 78%, 56%) 0%, hsl(146, 68%, 55%) 100%);
    display: inline-block;
    padding: 3px;
    box-sizing: border-box;
}
.toggle_button::after{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color:hsl(230, 17%, 14%);
    display: block;
}
.toggle_checkbox{
    z-index: 1;
    position: absolute;
    width: 50px;
    height: 25px;
    right: 0;
    top: 0;
    margin: 0;
    opacity: 0;
}

.toggle_checkbox:checked + .toggle_button{
    background: hsl(230, 22%, 74%);
}

.toggle_checkbox:checked + .toggle_button::after{
    margin-left: auto;
    background-color: hsl(0, 0%, 100%);
}

.top_cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap:30px;
    grid-row-gap: 25px;
    margin-top: 45px;
}
.cards{
    width: 100%;
    height: auto;
    border-radius: 8px;
    background-color: hsl(228, 28%, 20%);
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}
.cards:hover{
    background-color: hsl(230, 24%, 28%);
}
.light .cards {
    background-color: hsl(227, 47%, 96%);
}
.light .cards:hover{
    background-color:hsl(227deg 33% 90%);
}
.cards::before{
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.cards-facebook::before{
    background-color: hsl(205, 100%, 50%) ;
}
.cards-twitter::before{
    background-color: hsl(195, 100%, 50%) ;
}
.cards-instagram::before{
    background: linear-gradient( 90deg, hsl(44, 94%, 50%) 0%, rgb(210, 2, 88) 100%);
}
.cards-youtube::before{
    background-color: rgb(187, 2, 2);
}
.social_media_tag{
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social_media_tag_image{
    margin-right: 10px;
}
.followers{
    margin: 25px auto;
}

.followers_number{
    display: block;
    font-size: 60px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}
.light .followers_number, .light .overview_value{
    color: hsl(230, 17%, 14%);
}
.followers_subtext{
    font-size: 12px;
    letter-spacing: 6px;
}

.today-high{
    color: hsl(163, 72%, 41%);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.today-low{
    color: hsl(356, 69%, 56%);
    font-weight: 700;
    font-size: 12px;
}

.bottom_cards{
    margin-top: 50px;
}

.bottom_cards_title{
    font-size: 24px;
    color: hsl(0, 0%, 100%);
    margin: 0;
}
.light .bottom_cards_title {
    color: hsl(230, 17%, 14%);
}
.card_row{
    display: grid;
    grid-row-gap: 25px;
    text-align: left;
}
.card_row:nth-child(2){
    text-align: right;
}

.overview_value{    
    font-size: 36px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    line-height: 0.9em;
}
.light .card__overview-value {
    color: hsl(230, 17%, 14%);
}
.card_column{      
    display: flex;
    justify-content: space-between;
}
@media (max-width: 960px) {
    .container {
        margin-top: 10px;
        padding: 25px;
        box-sizing: border-box;
    }

    .header {
        flex-wrap: wrap;
    }

    .header_left {
        flex-basis: 100%;
        border-bottom: solid 1px hsl(228, 34%, 66%);
        padding-bottom: 15px;
        margin-bottom: 10px;
    }

    .toggle {
        justify-content: space-between;
        width: 100%;
    }

    .top_cards {
        grid-template-columns: 1fr;
    }
}