<!--<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- displays site properly based on user's device - ->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

  <title>Frontend Mentor | [Challenge Name Here]</title>

  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <!--<link rel="stylesheet" href="./style.css">- ->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <style>
    .attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }
  </style>
</head>

<body class="app-body">-->
<div class="app" [ngClass]="status ? 'light' : ''">
  <div class="background-box">
  <div class="container">
    <header class="header">
      <div class="header_left">
        <h1 class="header_title">Social Media Dashboard</h1>
        <span class="header_subtext">Total Followers: 23,004</span>
      </div>
      <div class="header_right toggle">
        <label for="dark_mode" class="toggle_label">Dark Mode</label>
        <div class="toggle_button_wrapper" ng-app="toggle_change_app" ng-controller="toggle_controller">
          <input class="toggle_checkbox" type="checkbox" name="dark_mode" id="dark_mode" (change)="getdetails()">
          <span class="toggle_button"></span>
        </div>
      </div>
    </header>

    <section class="top_cards">
      <!-----------------------Top Cards-------------------------->
      <div class="cards cards-facebook">
        <span class="social_media_tag">
          <img class="social_media_tag_image" src="./assets/images/icon-facebook.svg" alt="facebook logo">
          @nathanf
        </span>
        <div class="followers">
          <span class="followers_number">1987</span>
          <span class="followers_subtext">FOLLOWERS</span>
        </div>
        <span class="today-high">
          &#9652; 12 Today
        </span>
      </div>

      <div class="cards cards-twitter">
        <span class="social_media_tag">
          <img class="social_media_tag_image" src="./assets/images/icon-twitter.svg" alt="twitter logo">
          @nathanf
        </span>
        <div class="followers">
          <span class="followers_number">1044</span>
          <span class="followers_subtext">FOLLOWERS</span>
        </div>
        <span class="today-high">
          &#9652; 99 Today
        </span>
      </div>

      <div class="cards cards-instagram">
        <span class="social_media_tag">
          <img class="social_media_tag_image" src="./assets/images/icon-instagram.svg" alt="instagram logo">
          @realnathanf
        </span>
        <div class="followers">
          <span class="followers_number">11k</span>
          <span class="followers_subtext">FOLLOWERS</span>
        </div>
        <span class="today-high">
          &#9652; 1099 Today
        </span>
      </div>

      <div class="cards cards-youtube">
        <span class="social_media_tag">
          <img class="social_media_tag_image" src="./assets/images/icon-youtube.svg" alt="youtube logo">
          Nathan F.
        </span>
        <div class="followers">
          <span class="followers_number">8239</span>
          <span class="followers_subtext">SUBSCRIBERS</span>
        </div>
        <span class="today-low">
          &#9662; 144 Today
        </span>
      </div>
    </section>
    <!---------------------------Bottom Section-------------------------->
    <section class="bottom_cards">
      <h2 class="bottom_cards_title">
        Overview - Today
      </h2>
      <div class="top_cards">
        <!------------------------------1st Row----------------------------->
        <div class="cards card_column">
          <div class="card_row">
            <span class="overview_type">
              Page Views
            </span>
            <span class="overview_value">
              87
            </span>
          </div>
          <div class="card_row">
            <span class="overview_logo">
              <img class="social_media_tag_image" src="./assets/images/icon-facebook.svg" alt="facebook logo">
            </span><br>
            <span class="today-high">
              &#9652; 3%
            </span>
          </div>
        </div>

        <div class="cards card_column">
          <!--Bottom cards-->
          <div class="card_row">
            <span class="overview_type">
              Likes
            </span>
            <span class="overview_value">
              52
            </span>
          </div>
          <div class="card_row">
            <span class="overview_logo">
              <img class="social_media_tag_image" src="./assets/images/icon-facebook.svg" alt="facebook logo">
            </span><br>
            <span class="today-low">
              &#9662; 2%
            </span>
          </div>
        </div>

        <div class="cards card_column">
          <!--Bottom cards-->
          <div class="card_row">
            <span class="overview_type">
              Likes
            </span>
            <span class="overview_value">
              5462
            </span>
          </div>
          <div class="card_row">
            <span class="overview_logo">
              <img class="social_media_tag_image" src="./assets/images/icon-instagram.svg" alt="instagram logo">
            </span><br>
            <span class="today-high">
              &#9652; 2257%
            </span>
          </div>
        </div>

        <div class="cards card_column">
          <!--Bottom cards-->
          <div class="card_row">
            <span class="overview_type">
              Profile Views
            </span>
            <span class="overview_value">
              52k
            </span>
          </div>
          <div class="card_row">
            <span class="overview_logo">
              <img class="social_media_tag_image" src="./assets/images/icon-instagram.svg" alt="instagram logo">
            </span><br>
            <span class="today-high">
              &#9652; 1375%
            </span>
          </div>
        </div>

        <!------------------------------2nd Row----------------------------->
        <div class="cards card_column">
          <!--Bottom cards-->
          <div class="card_row">
            <span class="overview_type">
              Retweets
            </span>
            <span class="overview_value">
              117
            </span>
          </div>
          <div class="card_row">
            <span class="overview_logo">
              <img class="social_media_tag_image" src="./assets/images/icon-twitter.svg" alt="twitter logo">
            </span><br>
            <span class="today-high">
              &#9652; 303%
            </span>
          </div>
        </div>

        <div class="cards card_column">
          <!--Bottom cards-->
          <div class="card_row">
            <span class="overview_type">
              Likes
            </span>
            <span class="overview_value">
              507
            </span>
          </div>
          <div class="card_row">
            <span class="overview_logo">
              <img class="social_media_tag_image" src="./assets/images/icon-twitter.svg" alt="twitter logo">
            </span><br>
            <span class="today-high">
              &#9652; 553%
            </span>
          </div>
        </div>

        <div class="cards card_column">
          <!--Bottom cards-->
          <div class="card_row">
            <span class="overview_type">
              Likes
            </span>
            <span class="overview_value">
              107
            </span>
          </div>
          <div class="card_row">
            <span class="overview_logo">
              <img class="social_media_tag_image" src="./assets/images/icon-youtube.svg" alt="youtube logo">
            </span><br>
            <span class="today-low">
              &#9662; 19%
            </span>
          </div>
        </div>

        <div class="cards card_column">
          <!--Bottom cards-->
          <div class="card_row">
            <span class="overview_type">
              Total Views
            </span>
            <span class="overview_value">
              1407
            </span>
          </div>
          <div class="card_row">
            <span class="overview_logo">
              <img class="social_media_tag_image" src="./assets/images/icon-youtube.svg" alt="youtube logo">
            </span><br>
            <span class="today-low">
              &#9662; 12%
            </span>
          </div>
        </div>

      </div>
    </section>
  </div>
</div>

  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
    Coded by <a href="#">Your Name Here</a>.
  </div>
</div>

<!--  <script>
    var toggleTheme = angular.module('toggle_change_app', []);
    toggleTheme.controller('toggle_controller', function($scope){
      $scope.getdetails = function(){
        if($scope.dark_mode == true){
          body.classList.toggle('light');
          console.log("checked");
        }
      }
    });
    const toggleButton = document.getElementById('dark_mode');
    const body = document.getElementsByTagName("body > body")[0];

    toggleButton.addEventListener('click', () => {
      body.classList.toggle('light');
    });
  </script>

</body>

</html>-->